* {
    margin: 0;
    padding: 0;
}

.top-header {
    background-color: #FF6B1A;
    color: white;
    height: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-header h1 {
    font-size: 24px;
}

.top-header p {
    font-size: 14px;
}

.top-header img {
    width: 2rem;
}

.village-name {
    display: flex;
    margin-top: 7rem;
    gap: 2rem;
    align-items: center;
}

.phrase {
    text-align: end;
}

.bottom-header {
    position: relative; 
    background-color: black;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    z-index: 100;
}

#menu-bar {
    display: none;
}

.menu {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    height: 300px;     
    background-color: black; 
    z-index: 9;
}

#menu-bar:checked ~ .menu {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    margin-bottom: 1.5rem;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    color: #FF6B1A;
}

.menu-icon {
    background-color: #FF6B1A;
    padding: 0.8rem 1.2rem;
    border-radius: 0.8rem;
    color: white;
    cursor: pointer;
    font-weight: bold;
    z-index: 10;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    background-color: #2A2A2A;
    opacity: 90%;
    background-image: url(../assets/images/welcome.png);
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    background-size: 150px;
    color: white;
    row-gap: 20px;
}

.welcome h1 {
    font-size: 2.2rem;
    font-weight: bold;
}

.welcome p {
    font-size: 16px;
    text-wrap: inherit;
    padding: 1rem;
}

.main-content {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
    row-gap: 30px;
    flex-direction: column;
}

.jutsu {
    width: 324px;
    height: 200px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 18px #888888;
    background-color: #ffffff;
    border-radius: 16px;
    border-top: 4px solid #ff6600;
    cursor: pointer;
    transition: transform 0.3s ease;
    row-gap: 10px;

}

.jutsu:hover {
    transform: scale(1.05) translateY(-5px);
}

.jutsu-name {
    display: flex;
    text-align: center;
    gap: 10px;
    padding: 10px;
}

.jutsu-name img {
    width: 24px;
    height: 24px;
}
.jutsu-name h2 {
    font-size: 24px;
}
.description p {
    font-size: 14px;
    color: #444;
    line-height: 1.6;
    padding: 10px;
}

footer {
    height: 40px;
    background-color: black; 
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
}

@media (min-width: 768px) {

 body{
    overflow-x: hidden;
 }

    .top-header {
        width: 100%;
        background-color: #FF6B1A;
        color: white;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

    .top-header h1 {
        font-size: 4rem;
        margin: 0;
    }

    .top-header p {
        font-size: 18px;
    }

    .top-header img {
        width: 4rem;
        height: 4rem;
    }

    .bottom-header {
        background-color: black;
        display: flex;
        justify-content: center;
    }

    .menu {
        width: 100%;
        height: auto;
        display: block;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        padding: 1rem;
        position: static;
}

    .menu-icon {
        display: none;
    }

    .menu ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .menu li {
        margin: 0;
    }

    .menu a {
        font-size: 0.9rem;
    }

    .academy {
        background-color: #FF6B1A;
        padding: 16px;
        color: white;
        border-radius: 0.8rem;
    }

    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 530px;
        background-color: #2A2A2A;
        opacity: 90%;
        background-image: url(../assets/images/welcome.png);
        background-repeat: no-repeat;
        background-position: center;
        background-blend-mode: multiply;
        color: white;
        row-gap: 20px;
    }

    .main-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-items: center;
        justify-content: center;
        gap: 4rem;

    }

    .jutsu {
        width: 324px;
        height: 200px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 10px 18px #888888;
        background-color: #ffffff;
        border-radius: 16px;
        border-top: 4px solid #ff6600;
        cursor: pointer;
        transition: transform 0.3s ease;
        row-gap: 10px;

    }

    .jutsu:hover {
        transform: scale(1.05) translateY(-5px);
    }

    .jutsu-name {
        display: flex;
        text-align: center;
        gap: 10px;
        padding-top: 40px;
    }

    .jutsu-name img {
        width: 24px;
        height: 24px;
    }
    .jutsu-name h2 {
        font-size: 24px;
    }

    footer {
        width:100%;
        height: 40px;
        background-color: black; 
        color: white;
        text-align: center;
        padding-top: 20px;
    }































/* .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 40px 90px 100px 90px;
    row-gap: 30px;

}

.jutsu {
    width: 324px;
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 18px #888888;
    background-color: #ffffff;
    border-radius: 16px;
    border-top: 4px solid #ff6600;
    cursor: pointer;
    transition: transform 0.3s ease;
    row-gap: 10px;

}

.jutsu:hover {
    transform: scale(1.05) translateY(-5px);
}

.jutsu-name {
    display: flex;
    text-align: center;
    gap: 10px;
    padding-top: 40px;
}

.jutsu-name img {
    width: 24px;
    height: 24px;
}
.jutsu-name h2 {
    font-size: 24px;
}

.description {
    color: #888888;
    font-size: 16px;
    width: 290px;
}


footer {
    height: 40px;
    background-color: black; 
    color: white;
    text-align: center;
    padding-top: 20px;
}

.bottom-header{
    display: flex;
    flex-direction: column;
} */ 



  }
